docker-compose.yaml
env.rb
data/
logs/
docker/nginx/default.conf
docker/ruby/Gemfile
rezepte/tools/node_modules/
rezepte/tools/fehler-*.gif
rezepte/tools/fehler-*.webp
rezepte/tools/sichten-*.webp
src/ruby/credentials.rb
src/ruby/hidden-root-tags.txt
/src/static/rezepte/
/src/static/anleitungen/
